<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>day</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <div class="box" id="heading">
    <h1>Its  <%= listtitle %>!!!</h1>

  </div>
  <div class="box">

    <%for (i=0 ; i<additems.length ;i++){ %>

    <div class="item">
      <input type="checkbox">
      <p> <%=additems[i]%> </p>
    </div>
      <%}%>
      <form  class="item" action="/" method="post">
      <input type="text" name="newitem" placeholder="new item" >
      <button type="submit" name="list" value=<%=listtitle%> >+</button>
    </form>
    </div>
  </body>
</html>
