.container{
    display: flex;
    margin-left : 50px;
    margin-top: 40px;
    justify-content: center;
}
#red{
    background-color: white;
    height : 200px;
    width : 200px 
    
}

#blue{
    background-color:white;
    height : 200px;
    width : 200px;

}

#green{
    background-color: white;
    height : 200px;
    width : 200px;
}

#clear{
    align-content: center;
}